<!DOCTYPE html>
<html>
  <head>
    <title>FernsNPetals</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
    <h1>FernsNPetals</h1>
    <h3>Flower Delivery Online</h3>
   		
    	<div>
		<button id="paynow">Pay with PayPal</button>
    	</div>

    	<script>
    		$( document ).ready(function() {
				 console.log( "ready!" );
				 $("#paynow").on('click', function(){
				 	console.log("paynow")
				 	window.location = 'https://a94828c6a08d914296a1d178d1de5102.ulink.adjust.com/ulink/U-0GM727318E537061P/U-71143181XG824430T?classicUrl=/IN/cgi-bin/?cmd=_prq&id=1E.-5kA428.evavldoGeuWsonCoQQcE6bwKwng&ppid=PPC001017&cnac=IN&rsta=en_IN(en_HK)&cust=DHQ4D7NMUNLBL&unptid=a52f34f2-4a24-11e9-8078-441ea1478e4c&t=&cal=2114ed8776e3&calc=2114ed8776e3&calf=2114ed8776e3&unp_tpcid=requestmoney-notifications-requestee&page=main:email&pgrp=main:email&e=op&mchn=em&s=ci&mail=sys';
				 })
			});
    	</script>
  </body>
</html>
